In [12]:
import numpy as np
import pandas as pd

In [6]:
!pwd

/home/b/b381258/mistral_home/notebooks/SSWs_stats

In [8]:
(2014-1979+1)

36

In [10]:
out_dir = './'
model = 'ERA5'
ny = (2014-1979+1)
split_dates=np.load(f'{out_dir}{model}_disp_dates_all.npy',allow_pickle=True)
ns = len(split_dates)/ny*10.
#mode = ds_mode['mode_latcent'].values

In [14]:
df = pd.read_csv('ERA5.csv', index_col = 0)
df

   onset dates   vortex type
0   1979-02-22         split
1   1980-02-29     displaced
2   1981-03-04     displaced
3   1981-12-04  unclassified
4   1984-02-23     displaced
5   1985-01-01         split
6   1987-01-23     displaced
7   1987-12-08         split
8   1988-03-14         split
9   1989-02-21         split
10  1998-12-15     displaced
11  1999-02-25         split
12  2000-03-20     displaced
13  2001-02-11         split
14  2001-12-30     displaced
15  2002-02-17     displaced
16  2003-01-18         split
17  2004-01-05     displaced
18  2006-01-21     displaced
19  2007-02-24     displaced
20  2008-02-22     displaced
21  2009-01-24         split
22  2010-02-09     displaced
23  2010-03-24     displaced
24  2013-01-06         split

In [17]:
print(df.to_latex(caption = 'List of SSWs in ERA5', label = 'tab:ssws_ERA5'))

\begin{table}
\caption{List of SSWs in ERA5}
\label{tab:ssws_ERA5}
\begin{tabular}{lll}
\toprule
 & onset dates & vortex type \\
\midrule
0 & 1979-02-22 & split \\
1 & 1980-02-29 & displaced \\
2 & 1981-03-04 & displaced \\
3 & 1981-12-04 & unclassified \\
4 & 1984-02-23 & displaced \\
5 & 1985-01-01 & split \\
6 & 1987-01-23 & displaced \\
7 & 1987-12-08 & split \\
8 & 1988-03-14 & split \\
9 & 1989-02-21 & split \\
10 & 1998-12-15 & displaced \\
11 & 1999-02-25 & split \\
12 & 2000-03-20 & displaced \\
13 & 2001-02-11 & split \\
14 & 2001-12-30 & displaced \\
15 & 2002-02-17 & displaced \\
16 & 2003-01-18 & split \\
17 & 2004-01-05 & displaced \\
18 & 2006-01-21 & displaced \\
19 & 2007-02-24 & displaced \\
20 & 2008-02-22 & displaced \\
21 & 2009-01-24 & split \\
22 & 2010-02-09 & displaced \\
23 & 2010-03-24 & displaced \\
24 & 2013-01-06 & split \\
\bottomrule
\end{tabular}
\end{table}